$theme-colors: (
  'primary': #0d2340,
  'primary-10': #dee7ed,
  'gray-10': #dee7ed,
  'gray-50': #657a8a,
  'secondary': #339698
);
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Roboto Condensed', sans-serif;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: false;
$body-bg: #304a69;

// BOOTSTRAP VARIABLES DECLARED ABOVE
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// OVERRIDES BELOW
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  box-shadow: inset 0 -5px 0 0 #339698;
  border-color: #fff #fff #339698;
  background-color: white;
}