$theme-colors: (
  'primary': #2f4a6a,
  'primary-10': #8aa3c2,
  'primary-20': #6989b0,
  'primary-30': #4e6f96,
  'primary-60': #283e58,
  'primary-70': #0f2240,
  'primary-80': #030b15,
  'gray': #ababab,
  'gray-10': #f5f5f5,
  'gray-20': #e3e3e3,
  'gray-30': #c1c1c1,
  'muted': #c1c1c1,
  'gray-60': #666666,
  'secondary': #2c8081,
  'secondary-10': #e2eeef,
  'secondary-20': #82c9c9,
  'secondary-30': #339698,
  'secondary-60': #256a6a,
  'secondary-70': #1e5354,
  'secondary-80': #113a38,
  'tertiary': #7e97ab,
  'tertiary-10': #fafafb,
  'tertiary-20': #dfe7ed,
  'tertiary-30': #91adc1,
  'tertiary-60': #63798a,
  'tertiary-70': #4b5b66,
  'tertiary-80': #323d45,
  'success': #05b248,
  'success-10': #e6f8ed,
  'success-20': #80d9a3,
  'success-30': #34c16c,
  'success-60': #008e3a,
  'success-70': #006b2a,
  'warning': #e2b632,
  'warning-10': #f8f0d5,
  'warning-20': #edd384,
  'warning-30': #e7c55b,
  'warning-60': #cba42d,
  'warning-70': #b49328,
  'error': #be2350,
  'error-10': #f6dfe3,
  'error-20': #db7f8f,
  'error-30': #cc4d6a,
  'error-60': #991c3f,
  'error-70': #7b1433
);
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Roboto Condensed', 'Roboto', sans-serif;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: false;
$body-bg: #dfe7ed;
// $body-bg: #304a69;

$msl-multi-select-items-box-border-color: #ababab !default;
$msl-multi-select-item-border-bottom-color: #c1c1c1 !default;
$msl-multi-select-item-hover-bg: #90acc1 !default;
$msl-multi-select-item-hover-font-color: #fff !default;
$msl-multi-select-no-item-font-color: #c0c2c6 !default;
$msl-multi-select-action-hover-font-color: #c0c2c6 !default;
$msl-multi-select-action-icon-font-color: #666666 !default;

// BOOTSTRAP VARIABLES DECLARED ABOVE
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import 'vue-multiselect/dist/vue-multiselect.min.css';
@import "vue-multiselect-listbox/src/scss/vue-multi-select-listbox.scss";

// OVERRIDES BELOW
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  box-shadow: inset 0 -5px 0 0 #339698;
  border-color: #fff #fff #339698;
  background-color: white;
}
.nav-tabs .nav-link {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 1.1em;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #0f2240;
  background-color: #0f2240;
}
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none;
}
.global-checkbox {
  & .custom-control-label::before {
    width: 2rem;
  }
  & .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #256a6a;
    background-color: #256a6a;
  }
  & .custom-control-label::after {
    top: calc(0.25rem - 2px);
    left: calc(-2.25rem - 2px);
    width: calc(1rem + 4px);
    height: calc(1rem + 4px);
    box-shadow: 0 0 1px 1px rgba(37, 106, 107, 0.8);
    border-radius: 50%;
  }
  & .custom-control-input:checked ~ .custom-control-label::after {
    background-color: white !important;
    left: calc(-2rem - 2px);
  }
  & .custom-control-input:checked ~ .custom-control-label > span {
    color: #256a6a;
  }
}
